.container {
  max-width: 90rem !important;
  padding-left: var(--spacer-6, 1.5rem) !important;
  padding-right: var(--spacer-6, 1.5rem) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
