@use "../abstracts" as *;

// Mobile-first
body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.4;
  color: var(--clr-dark-10, #212529);
}

main {
  padding-top: var(--spacer-12);
}

.footer,
section {
  padding-top: var(--spacer-8);
  padding-bottom: var(--spacer-8);

  @include from(lg) {
    padding-top: var(--spacer-10);
    padding-bottom: var(--spacer-10);
  }
}
